body
{
    margin:0px;
    font-family:serif;
}

a
{	text-decoration:none;
}

#title_block
{   
    width:100%;
    font-size:36px;
    background-color:#000000;
    color:#bbbbbb;
    //font-family:"Serif";
    text-align:center;
}

#navigation_block
{
    width:20%;
    
    float:left;
}
#main_block
{
    width:80%;
    float:right;
}
#speakers_in_channel_block
{
    
}
#speaker_list_table
{
    width:100%;
}
#channel_list_table
{
    width:50%;
    float:left;
}
#reload_block
{
    position:absolute;
    bottom:20px;
}
#credits_block
{
    width:100%;
    color:#bbbbbb;
    background-color:#000000;
    font-size:12px;
    position:fixed;
    bottom:0px;
    padding-bottom:1px;
    text-align:center;
    left:0px;
}
.table_header{
    font-weight:bold;
}
#logout_form
{
    position:absolute;
    right:5px;
    top:10px;
    z-index:1;
}
#auth_form
{   
    padding: 25px; 
    background-color: #000000;
    position:absolute;
    top:35%;
    left:40%;
    color: #bbbbbb;
    //text-align:center;

}
#login
{
    float: right;
}
