body
{
    margin:0px;
    font-family:serif;
}

a
{	text-decoration:none;
}

#title_block
{   
    width:100%;
    font-size:36px;
    color:#bbbbbb;
    //font-family:"Serif";
    text-align:center;
    background: #303030;
}
#title_block_t
{
    height:30px;
    overflow:auto;
    background: #303030 url(header.png) repeat-x bottom;
}

#navigation_block
{
    width:20%;    
    float:left;
}
#main_block
{
    width:80%;
    float:right;
}
#speakers_in_channel_block
{
    
}
#speaker_list_table
{
    width:100%;
}
#channel_list_table
{
    width:50%;
    float:left;
}
#reload_block
{
    position: absolute;
    left: 20px;
    bottom: 90px;
}

#footer
{
    width:100%;
    color:#bbbbbb;
    position:fixed;
    bottom:0px;
    padding-bottom:1px;
}


#footer_t
{
    height:35px;
    overflow:auto;
    background: #303030 url(footer.png) repeat-x top;
}

.footer_clean 
{
    background-color: #303030;
    height: 15px;
}

#credits_block
{
    font-size:12px;
    text-align:center;
    left:0px;
    background: #303030 ;
}
#credits_hidden_block
{
    display: none;
    background: #303030;
}
#credits_block a
{
    color: #bbbbbb;
}

.table_header{
    font-weight:bold;
}
#logout_form
{
    position:absolute;
    right:5px;
    top:10px;
    z-index:1;
}
#auth_form
{   
    padding: 25px; 
    background-color: #303030;
    position:absolute;
    top:35%;
    left:40%;
    color: #bbbbbb;
    text-align:center;

}
#login
{
    float: right;
}
