<!doctype html>
<table>
  <tr>
    <td>
      <div id = "addclient_div">
	<form method = "POST" action = "/addspeaker">
	  Number:<input type = "text" name = "number"/>
	  Name:<input type = "text" name = "name"/>
	  IP:<input type = "text" name = "ip"/>
	  <input type = "submit" value = "Add"/>
	</form>
      </div>
    </td>
  </tr>
  {% for client in clients %}
  <tr><td>{{ client[0] }} {{client[1]}} {{client[2]}} <a href = '/removespeaker/{{ client[0] }}'>Delete</a></td></tr>
  {% endfor %}
</table>
