<!doctype html>
<table>
  <tr>
    <td>
      <table>
	<tr>
	  <td>
	    <div class = "channellist">
	      Channel ID :<input type = "text" id = "inputchannelid"/><br/>
	      Channel Name:<input type = "text" id = "inputchannelname"/>
	      <input type = "button" value = "Add Channel" onclick = "addit();" />
	    </div>
	  </td>
	</tr>
	{% for channel in channels%}
	<tr>
	  <td>
	    <div class = "channelListItem" id = "channelNo{{channel[0]}}">
	      <a class = "edit" href = "#" onclick = "editChannel({{ channel[0] }});">{{channel[1]}} {{channel[0]}} </a>
	      <a class = "delete" href = "#" onclick = "deleteChannel({{ channel[0] }});">Delete Channel</a>
	    </div>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </td>
    <td><div id = "SpeakersInChannelBlock"></div></td>
  </tr>
</table>
