<!doctype html>
<table>
  <tr class="table_header"><td>{{channelname}}</td></tr>
  {% for speaker in speakers%}
  <tr>
    <td>
      {% if speaker[2] %}
      <div class = "speakerinchannel">
	{{speaker[1]}}
      	<a href = "#" onclick= "removeFromChannel({{speaker[0]}},{{channel}});" >Remove</a>
      </div>
      {% else %}
      <div class = "speakernotinchannel">
	{{speaker[1]}}
      	<a href = "#" onclick= "addToChannel({{speaker[0]}},{{channel}});" >Add</a>
      </div>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
