<!doctype html>
<title>Aria Server</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
<body onload = "speakerManager();">
  <div id = "title_block">ARIA Server</div>
  {% if logedin == false %}
  <form id = "auth_form" method = "POST" action = "/login">
    <table>
      <tr><td>Username</td><td> <input type = "text" name = "username"/></td></tr>
      <tr><td>Password</td><td><input type = "password" name = "password"/></td></tr>
      <tr><td colspan="2"><input type = "submit" value = "Login" id='login'/></td></tr>
    </table>
  </form>
  {% else %}
  <form id = "logout_form" action = "/logout">
    <input type = "submit" value = "Logout" />
  </form>
  <div id = "navigation_block">
    <div id = "speaker_man_link_block"><a href = "#" OnClick = "speakerManager();">Manage Speakers</a></div>
    <div id = "channel_man_link_block"><a href = "#" OnClick = "channelManager();">Manage Channels</a></div>
  </div>
  <div id = "main_block"></div>
  <div id = "reload_block"><input type = "Button" onClick = "reloadDialplan();" value = "Reload Dialplan." /></div>
  {% endif %}
  <div id = "credits_block">Developed at Department of Computer Science and Engineering, College of Engineering Trivandrum.</div>
</body>
