<!doctype html>
<title>Aria Server</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
<body onload = "speakerManager();">
  <table class = "big_menu">
    <table>
      <tr>
	<td><div id = "title_block">Aria Wev configuration.</div></td>
	<td>
	  {% if logedin == false %}
	  <form id = "auth_form" method = "POST" action = "/login">
	    Username :<input type = "text" name = "username"/>
	    Password :<input type = "password" name = "password"/>
	    <input type = "submit" value = "Login" />
	  </form>
	  {% else %}
	  <form id = "auth_form" action = "/logout">
	    <input type = "submit" value = "Logout" />
	  </form>
	</td>
      </tr>
      <tr>
	<td><div id = "speaker_man_link_block"><a href = "#" OnClick = "speakerManager();">Manage Speakers</a></div></td>
	<td><div id = "channel_man_link_block"><a href = "#" OnClick = "channelManager();">Manage Channels</a></div></td>
      </tr>
      <tr>
	<td colspan = "2"><div id = "main_block"></div></td>
      </tr>
      <tr>
	<td colspan = "2"><div id = "reload_block"><input type = "Button" onClick = "reloadDialplan();" value = "Reload Dialplan." /></div>
	  {% endif %}
	</td>
      </tr>
      <tr>
	<td colspan = "2">
	  <div id = "credits_block">Developed at Department of Computer Science and Engineering, College of Engineering Trivandrum.</div>
	</td>
      </tr>
    </table>
  </table>
</body>
